[access "refs/heads/master"]
	read = group Anonymous Users
	label-Code-Review = -2..+2 group google/gerritcodereview-maintainers@googlegroups.com
	label-Code-Review = -1..+1 group Registered Users
	submit = group google/gerritcodereview-maintainers@googlegroups.com
	push = group google/gerritcodereview-maintainers@googlegroups.com
	label-Verified = +0..+1 group Registered Users
	forgeAuthor = group google/gerritcodereview-maintainers@googlegroups.com
[receive]
	requireContributorAgreement = true
[submit]
	action = rebase if necessary
	mergeContent = true
[access "refs/for/refs/heads/*"]
	push = group Registered Users
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[access]
	inheritFrom = Public-Projects
